<!DOCTYPE html>

<head>
  <title>Images</title>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>

<body>

  <div id="toparea"
    <div id="left"></div>
      <div id="navbar">
          <div class="pages">
              <a href="home.html">Home</a>
          </div>
          <div class="pages">
            <a href="images.html">Images</a>
          </div>
          <div class="pages">
            <a href="links.html">Links</a>
          </div>
          <div class="pages">
            <a href="activities.html">Activities</a>
          </div>
      </div>
    <div id="right"></div>
  </div>

  <h1>Areeta Wong</h1>
  <center> <img id="areeta" src="/images/areeta.jpg" height="200px" width="200px"> </center>

  <h2>Images</h2>

  <ul>
    <li>
        <p> My best friend and I went to Google HQ last summer and the security guard let us
            ride the bikes there.
        </p>
        <img src="/images/google.jpg" alt="My best friend and me at Google in MTV" height="250">
    </li>
    <li>
        <p> Each year, our school hosts a senior boat dance around the San Francisco Bay and this
            is a picture of us!
        </p>
        <img src="/images/SAD.jpg" alt="Senior Activity Day" height="250">
    </li>
    <li>
        <p> This was when my family went to Alcatraz.
        </p>
        <img src="/images/travel.jpg" alt="My mom and me on a boat" height="250">
    </li>
    <li>
        <p> #BuiltByGirls hosts events all over the country and this is one at Twitter HQ in
            San Francisco.
        </p>
        <img src="/images/twitter.jpg" alt="#BuiltByGirls event at Twitter" height="250">
    </li>
  </ul>

</body>
