<!DOCTYPE html>

<head>
  <title>Activities</title>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>

<body>

  <div id="toparea"
    <div id="left"></div>
      <div id="navbar">
          <div class="pages">
              <a href="home.html">Home</a>
          </div>
          <div class="pages">
            <a href="images.html">Images</a>
          </div>
          <div class="pages">
            <a href="links.html">Links</a>
          </div>
          <div class="pages">
            <a href="activities.html">Activities</a>
          </div>
      </div>
    <div id="right"></div>
  </div>

  <h1>Areeta Wong</h1>
  <center> <img id="areeta" src="/images/areeta.jpg" height="200px" width="200px"> </center>

  <h2>Activities</h2>

  <ul>
    <li>
        <p>CodeDay Bay Area</p>
        <img src="/images/codeday.jpg" height="250">
    </li>
    <li>
        <p> HSHacks III</p>
        <img src="/images/hshacks.jpg" height="250">
    </li>
    <li>
        <p>SMHacks</p>
        <img src="/images/smhacks.jpg" height="250">
    </li>
    <li>
        <p>Superposition</p>
        <img src="/images/superpos.jpg" alt="#BuiltByGirls event at Twitter" height="250">
    </li>
  </ul>



</body>
